name: Windows Build (DeckLink)
on:
  workflow_dispatch:
  push:
    branches:
      - decklink-3d

jobs:
  windows:
    runs-on: windows-2022
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build OBS (x64)
        uses: ./.github/actions/build-obs
        with:
          target: x64
          config: RelWithDebInfo

      - name: Package OBS
        uses: ./.github/actions/package-obs
        with:
          target: x64
          config: RelWithDebInfo

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: obs-windows-x64
          path: build_x64/obs-studio-*-windows-x64.zip
